<script src="src/structure.js"></script>

<script src="src/expandable.js"></script>

<section class="structure-panel panel">
  <h2 class="panel__title">Structure</h2>

  <section class="panel__content">
    

<div class="tab">
  <button class="tablinks" onclick="openstructure(event, 'diagram')" id="defaultOpen">Diagram </button>
  <button class="tablinks" onclick="openstructure(event, 'diagramexpl')">Diagram Explorer</button>
  <button class="tablinks" onclick="openstructure(event, 'databaseexpl')">Database explorer</button>
  <button class="tablinks" onclick="openstructure(event, 'generate')">Generate SQL</button>
</div>

<div id="diagram" class="tabcontent">
  <h3>Select diagram</h3>
  <button class="collapsible">Open Section 1</button>
<div class="content">
</div>
   <button class="collapsible">Open Section 2</button>
<div class="content">
</div> 

</div>

<div id="diagramexpl" class="tabcontent">
   <button class="collapsible">Open Section 1</button>
<div class="content">
</div>
 <button class="collapsible">Open Section 2</button>
<div class="content">
</div>
 <button class="collapsible">Open Section 3</button>
<div class="content">
</div>
</div>

<div id="databaseexpl" class="tabcontent">
   <button class="collapsible">Open Section 1</button>
<div class="content">
</div>
 <button class="collapsible">Open Section 1</button>
<div class="content">
</div>
</div>
<div id="generate" class="tabcontent">
  <h3>Generate SQL</h3>
  
</div>
  </section>
 </section>
