.canvas {
  position: relative;
  display: block;
  background: #818181;;
}

.canvas__zoom-bar {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 27px;
  background: #dedede;
  border-radius: 24px;
  padding: 4px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.canvas__zoom-bar__button {
  outline: none;
  border: none;
  background: transparent;
}

.canvas__zoom-bar__button .material-icons {
  font-size: 21px;
}

.canvas__zoom-bar__button:hover {
  cursor: pointer;
}

.canvas__svg {
  width: 100%;
  height: 100%;
}
