/* General style */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: #606060;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

.panel {
  background: #818181;
}
